name: Run Quote Bot Every Hour

on:
  schedule:
    - cron: "0 * * * *"   # every hour on the hour

jobs:
  call-render:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Render Bot Endpoint
        run: |
          curl -X GET "https://quebot-lg0y.onrender.com/run"
