name: Trigger Quote Bot

on:
  schedule:
    - cron: "0 * * * *"   # every hour
  workflow_dispatch:

jobs:
  call-render:
    runs-on: ubuntu-latest
    steps:
      - name: Call /run endpoint
        run: |
          curl -s "https://quebot-lg0y.onrender.com/run"
